.addMoviesTable {
  margin: 30px 0 0 0;
}
.addMoviesTable__button {
  display: block;
  width: 320px;
  height: 36px;
  margin: 51px auto 155px;
  background-color: transparent;
  border: 2px solid #424242;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.addMoviesTable__button:hover{
  opacity: .7;
}
@media screen and (max-width: 600px) {
  .addMoviesTable__button {
    width: 240px;
  }
}