.about-project {
    background-color: #202020;
    margin-top: 0;
    padding: 110px 70px 108px;
    color: white;
  }
  .section__title {
    border-bottom: 1px solid #dadada;
    max-width: 1140px;
    margin: 0 auto 60px;
    padding-bottom: 22px;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;
  }
  .about-project__tabel {
    display: flex;
    gap: 40px;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }
  .about-project__tabel-item {
    display: flex;
    flex-direction: column;
    gap: 26px;
  }
  .about-project__tabel-title {
    margin: 0;
    margin-top: 8px;
    padding: 0;
    max-width: 550px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.8px;
  }
  .about-project__tabel-text {
    margin: 0;
    margin-bottom: 104px;
    padding: 0;
    max-width: 550px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  .about-project__line {
    display: flex;
    margin: 7px auto 14px;;
    padding: 0;
    max-width: 1140px;
  }
  .about-project__week-one {
    width: 239px;
    height: 36px;
    background-color: #3ddc84;
    color: black;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    margin: 0;
  }
  .about-project__week-four {
    width: 912px;
    height: 36px;
    background-color: #303030;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    margin: 0;
  }
  .about-project__line-captions {
    display: flex;
    margin: 0 auto;
    padding: 0;
    max-width: 1140px;
    text-align: center;
  }
  .about-project__line-caption {
    margin: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    color: #8b8b8b;
  }
  .line-caption_one {
    width: 228px;
  }
  .line-caption_two {
    width: 912px;
  }
  #line-caption_one {
    width: 228px;
  }
  #line-caption_two {
    width: 912px;
  }

  @media screen and (max-width: 768px) {
    .about-project {
      padding: 90px 50px 90px;
    }
    .about-project__tabel {
      gap: 30px;
    }
    .about-project__tabel-text {
      margin-bottom: 80px;
      max-width: 319px;
      font-size: 12px;
      line-height: 18px;
    }
    .about-project__tabel-item {
      gap: 22px;
    }
    .section__title {
      margin: 0 auto 30px;
    }
    .about-project__tabel-title {
      margin-top: 40px;
    }
    .about-project__line {
      margin: 13px auto 14px;
    }
    
  
  }
  @media screen and (max-width: 500px) {
    .about-project {
      padding: 70px 18px 90px;
    }
    .about-project__tabel {
      gap: 30px;
    }
    .about-project__tabel-text {
      margin-bottom: 80px;
      max-width: 319px;
      font-size: 12px;
      line-height: 18px;
    }
    .section__title {
      border-bottom: 1px solid #dadada;
      max-width: 1140px;
      margin: 0 auto 60px;
      padding-bottom: 27px;
      font-size: 18px;
      letter-spacing: -0.72px;
    }
    .about-project__tabel {
      flex-direction: column;
      gap: 49px;
    }
    .about-project__tabel-item {
      gap: 16px;
    }
  
    .about-project__tabel-title {
      margin:2px 0 0 0;
      padding: 0;
      max-width: 284px;
      font-size: 18px;
      letter-spacing: -0.72px;
    }
    .about-project__tabel-text {
      margin: 0;
      margin-bottom: 10px;
      max-width: 284px;
      font-size: 11px;
      line-height: 14px;
    }
    .about-project__line {
      margin: 54px auto 9px;
    }
    .about-project__week-one {
      margin: 0;
      width: 100px;
      height: 35px;
      font-size: 11px;
      line-height: 35px;
    }
    .about-project__week-four {
      margin: 0;
      width: 184px;
      height: 35px;
      font-size: 11px;
      line-height: 35px;
    }
    .about-project__line-caption {
      margin: 0;
      line-height: 17px;
      font-size: 11px;
      font-weight: 400;
    }
    #line-caption_one {
      width: 100px;
    }
    #line-caption_two {
      width: 184px;
    }
  }