.navigation {
  display: flex;
  gap: 30px;
}

.navigation__link {
  margin: 0;
  padding-top: 11px;
  color: #fff;
  text-align: right;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  cursor: pointer;
}
.navigation__link:hover {
  opacity: 0.7;
}

.navigation__button {
  font-family: Inter;
  font-size: 12px;
  margin-top: 3px;
  border-radius: 3px;
  background-color: #3ddc84;
  width: 76px;
  height: 32px;
  text-align: center;
  color: #000;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  text-decoration: none;
  cursor: pointer;
}
.navigation__button:hover {
  opacity: 0.8;
}

.navigation__nav-link {
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.navigation__nav-link_active {
  font-weight: 500;
}
.navigation__nav-link:hover {
  opacity: 0.7;
}

.navigation_main {
  margin: 10px 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.navigation__profile {
  display: block;
  width: 114px;
  height: 32px;
  margin: -18px 0;
  padding-top: 7px;
}
.navigation__movie {
  display: flex;
  gap: 16px;
  position: absolute;
  left: 42%;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 7px;
}
.navigation__nav-link {
  margin: 0;
  padding: 0;
}

.navigation__button-menu {
  margin: -3px 0 0;
  background-image: url(../../images/burger.svg);
  background-color: transparent;
  border-radius: 10%;
  background-position: center;
  cursor: pointer;
  border: none;
  width: 44px;
  height: 44px;
}
.navigation__button-menu:hover {
  opacity: 0.7;
}

@media screen and (max-width: 320px) {
  .navigation {
    gap: 14px;
  }
  .navigation__button {
    margin-top: 6px;
    width: 54px;
    height: 26px;
    font-size: 12px;
    font-size: 10px;
    line-height: 25px;
  }
  .navigation__nav-link {
    font-size: 10px;
    line-height: 16px;
  }
  .navigation__button-menu {
    background-image: url(../../images/burgermini.svg);
    width: 40px;
    height: 43px;
  }
  .navigation__link {
    font-size: 10px;
  }
}

