.filterCheckbox {
  max-width: 1140px;
  margin: 30px auto;
  display: flex;
  gap: 14px;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .filterCheckbox {
    margin: 30px 0 0;
    flex-direction: row-reverse;
    justify-content: end;
  }
}
@media screen and (max-width: 600px) {
  .filterCheckbox {
    margin: 42px auto 0;
    max-width: 165px;
    flex-direction: row-reverse;
    justify-content: end;
  }
  .filterCheckbox__span {
    font-size: 11px;
  }
}
.filterCheckbox__slider {
  background-image: url(../../../images/smalltumb.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  width: 36px;
  height: 20px;
}
.filterCheckbox__slider_off {
  background-image: url(../../../images/smalltumboff.svg);
}
.filterCheckbox__span {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}