.cards{
  margin: 0 auto;
  height: 100%;
  display: flex;
 flex: 1 1 auto;
flex-direction: column;
}
.movies__card {
  width: 270px;
  height: 218px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #222;
  border-radius: 15px;
  overflow: hidden;
}
.card__photo {
  height: 151px;
  width: 270px;
}
.card__about {
  margin: 10px 12px 0;
  display: flex;
  gap: 24px;
  max-width: 100%;
  
}
.card__title {
 
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  height: 23px;
  line-height: normal;
  margin: 0;
}
.card__text{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.movies__card-subtitle {
  margin: 0;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  height: 23px;
}
.card__time {
  color: #8b8b8b;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card__like-button {
  background-image: url(../../../images/save8d.svg);
  background-color: initial;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  margin: -63px;
  margin-left: 226px;
  width: 27px;
  height: 27px;
}
.card__like-button_active {
  background-image: url(../../../images/save8.svg);
  margin: -64px;
  margin-left: 229px;
  width: 27px;
  height: 27px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  background-position: top;
  cursor: pointer;
  border: none;
  
}
.card__like-button:hover{
  opacity: .7;
}
.card__like-remove{
  background-image: url(../../../images/d8.svg);
  width: 17px;
  height: 17px;
  margin: -58px;
  margin-left: 229px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card__like-remove:hover{
  opacity: .7;
}
.cards__button{
  background-color: initial;
    border: 2px solid #424242;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    height: 36px;
    line-height: normal;
    margin: 51px auto 155px;
    text-align: center;
    width: 320px;
}
.cards__button{
  opacity: .7;
}

@media screen and (max-width: 1040px) {
  .movies__card {
    width: 339px;
    height: 257px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #222;
    border-radius: 15px;
  }
  .card__photo {
    width: 339px;
    height: 190px;
  }
  .card__about {
    display: flex;
    gap: 24px;
    margin: 10px 12px 0;
    max-width: 100%;
  }
  .card__like-remove{
    width: 15px;
    margin: -54px;
    margin-left: 291px;
  }
  .card__like-button{
    margin: -57px;
    margin-left: 299px;
    width: 27px;
    height: 27px;
  }

}
@media screen and (max-width: 766px) {
  .card__photo {
    width: 270px;
    height: 168px;
  }
  .movies__card {
    width: 270px;
    height: 235px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #222;
    border-radius: 15px;

  }

.card__like-remove {
    width: 15px;
    margin: -53px;
    margin-left: 244px;

}
}
@media screen and (max-width: 640px) {
  .movies__card {
    height: 235px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #222;
    border-radius: 15px;

  }
  .movies__card-image {
    width: 300px;
    height: 168px;
  }


}
@media screen and (max-width: 766px) {
.card__like-button{
  margin: -57px;
  margin-left: 232px;
  width: 27px;
  height: 27px;
}
}