.promo {
    background-color: #073042;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 70px;
    padding-bottom: 78px;
    color: white;
    
  }
  .promo__text {
    margin: 0;
    max-width: 740px;
    padding-top: 75px;

  }
  .promo__text-title {
    color: #fff;
    max-width: 640px;
    font-feature-settings: 'clig' off, 'liga' off;
    margin: 0;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 2.5px;
  }
  .promo__text-subtitle {
    max-width: 310px;
    margin: 36px 0 0 0;
    padding: 0;
    color: #fff;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-feature-settings: 'clig' off, 'liga' off;
    opacity: 0.5;
  }
  .promo__button {
    margin: 146px 0 0;
    width: 129px;
    height: 36px;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    background-color: transparent;
  }
  
  .promo__image {
    margin-top: 75px;
    max-width: 310px;
    max-height: 304px;
  }
  
  @media screen and (max-width: 768px) {
    .promo {
      flex-direction: column-reverse;
      gap: 48px;
      align-items: center;
      justify-content: center;
      padding: 0 44px 77px;
    }
    .promo__text {
      padding: 0;
      max-width: 675px;
    }
    .promo__text-title {
      max-width: 680px;
      padding: 0;
      font-size: 40px;
      line-height: 50px;
      text-align: center;
    }
    .promo__text-subtitle {
      max-width: 260px;
      margin: 22px auto 92px;
  
      text-align: center;
    }
    .promo__button {
      margin: 0 auto;
      display: block;
    }
    .promo__image {
      margin: 140px auto 0;
    }
  }
  
  @media screen and (max-width: 500px) {
    .promo {
      gap: 44px;
      padding: 0 10px 30px;
    }
    .promo__text {
      padding: 0;
      max-width: 675px;
    }
    .promo__text-title {
      max-width: 300px;
      padding: 0;
      text-align: center;
      font-size: 30px;
      letter-spacing: -1.2px;
    }
    .promo__text-subtitle {
      margin: 22px auto 85px;
    }
    .promo__image {
      margin: 70px auto 0;
      max-width: 210.001px;
      max-height: 206px;
    }
  }