.search {
  max-width: 1140px;
  margin: 0;
  padding: 0;

}
.search__form {
  margin: 53px 0 0;
  gap: 5px;
  max-width: 1140px;
}
.search__form-item {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #424242;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.search__form-input {
  min-width: 90%;
  margin: 0;
  background-color: transparent;
  border: none;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 63px;
  text-align: left;
  outline: none;
  color: white;
}
.search__form-input:focus {
  outline: none;
}


.search__form-button {
  margin: 16px 0;
  padding: 0;
  background-image: url(../../../images/find.svg);
  background-color: transparent;
  width: 80px;
  height: 34px;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}
.search__form-button:hover {
  opacity: 0.8;
}
.search__filterCheckbox {
  max-width: 1140px;
  margin: 30px 0 0;
  display: flex;
  gap: 14px;
  color: #fff;
}
.search__filterCheckbox-slider {
  background-image: url(../../../images/smalltumboff.svg);
  background-color: transparent;
  border: none;
  width: 36px;
  height: 20px;
  cursor: pointer;
}
.search__filterCheckbox-slider:hover{
  opacity: .8;
}
.search__filterCheckbox-slider_on {
  background-image: url(../../../images/smalltumb.svg);
}
.search__filterCheckbox-span {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
@media screen and (max-width: 1165px) {
  .search__form {
    margin: 55px 30px 0;
  }
  .search__form-input {
    min-width: 85%;
  }
}
@media screen and (max-width: 768px) {
  .search__form {
    margin: 63px 30px 0;
  }
  .search__form-button {
    margin: 22px 0 0;
  }
  .serach__form-input {
    margin: 7px 0 0;
    min-width: 85%;
  }
  .search__filterCheckbox {
    margin: 30px  0 0;
    flex-direction: row-reverse;
    justify-content: end;
  }
}

@media screen and (max-width: 600px) {
  .search {
    margin: 16px auto 0;
    max-width: 100%;
  }
  .search__form-button {
    margin: 12px 0 0;
  }
  .search__form-input {
    margin: 17px 0 14px;
    font-size: 18px;
    line-height: normal;
    min-width: 70%;
  }
  .search__form {
    margin: 5px 10px;
  }
  .search__filterCheckbox {
    margin: 40px auto 0;
    max-width: 150px;
    flex-direction: row-reverse;
    justify-content: end;
  }
  .search__filterCheckbox-span {
    font-size: 11px;
  }
}