.login__form_span-link{
    width: 290px;
    padding: 0 0 160px 0;
  }

  
  .form_link:hover{
    opacity: .7;
  }
  .login__form_button{
    margin: 169px 0 0 0;
  }
  @media screen and (max-width: 420px) {
    .login__form_button {
      margin: 259px 0 0 0;
      font-size: 12px;
    }
    .login__form_span-link {
      width: 290px;
      padding: 0 0 160px 0;
      margin: 14px auto;
      max-width: 260px;
    }
  }