.login__form-span-link{
    width: 290px;
    padding: 0;
  }
  .login {
    margin: 54px auto 0;
  }
  
  .form_link:hover{
    opacity: .7;
  }
  .login__form-button{
    margin: 168px 0 0 0;
  }
  @media screen and (max-width: 768px) {
    .login__form {
      margin: 20px auto;
    }
  }
  @media screen and (max-width: 420px) {
    .login {
      margin: 105px 0 0;
      padding: 0;
    }
    .login__form-button {
      margin: 255px 0 0 0;
      font-size: 12px;
    }
    .login__form-span-link {
      width: 290px;
      padding: 0;
      margin: 14px auto 0;
      max-width: 250px;
    }
  }