.navigate {
  position: fixed;
  width: 520px;
  height: 100%;
  right: 0px;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  flex-direction: column;
  background-color: #202020;
}
.navigate__button-close {
  cursor: pointer;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 22.45px;
  right: 27.44px;
  background-color: transparent;
  border: none;
  background-position: center;
  background-image: url(../../images/close.svg);
}
.navigate__button-close:hover{
  opacity: .7;
}

.navigate__text-buttons {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin: 159px auto 0;
  width: 340px;
  gap: 26px;
}
.navigate__text-buttons:hover{
  opacity: 0.7;
}
.navigate__button {
  background: transparent;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  border: none;
  margin: 0 auto;
}
.navigate__button:hover {
  opacity: 0.7;
}
.navigate__button_active {
  border-bottom: 2px solid #FFFFFF;
}

.navigate__button-profile {
  background-image: url(../../images/profile.svg);
  margin: 0px auto;
  left: 210px;
  display: block;
  width: 100px;
  height: 32px;
  background-color: transparent;
  border: none;
  background-position: center;
}
.navigate__button-profile{
  opacity: .7;
}
@media screen and (max-width: 520px) {
  .navigate {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #202020;

    z-index: 1;
  }
  .navigate__text-buttons {
    margin: 143px auto 0;
    max-width: 250px;
    gap: 22px;
  }
  .navigate__button-profile {
    background-image: url(../../images/profile.svg);
    width: 100px;
    height: 32px;
    background-color: transparent;
    border: none;
    background-position: center;
    margin-bottom: 20px;
  }

}

